

body {
    background-color: #FFFBF5;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',"Times New Roman";
    box-sizing: border-box;
}

.navigasi {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color:#7743DB;
    padding: 20px 10%;
}

.portofolio {
    font-size:20px;
    font-weight: 700;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    color: #7743DB;
}

.content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    margin-left: 10px;
}

.text-content {
    letter-spacing: 0.5;
    margin: 10px;
    width: 600px;
}

.nama {
    font-weight: 800;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.profesi {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: #7743DB;
    text-decoration: underline;
}

.deskripsi {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.5;
    margin-top: 0;
}

.images {
    margin: 0;
    padding: 0;
    border-radius: 50% 0 0 50%;
    background-color: #7743DB;
    height: 400px;
    width: 400px;
    box-shadow: -11px 10px 35px 7px rgba(125,125,125,0.75);
    -webkit-box-shadow: -11px 10px 35px 7px rgba(125,125,125,0.75);
    -moz-box-shadow: -11px 10px 35px 7px rgba(125,125,125,0.75);
}
.ilustrasi {
    border-radius: 50% 50% 0 50%;
    width: 400px;
    height: 400px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 5vh;
    font-size: small;
}
